@font-face {
    font-family: AvatarFont; 
    src: url(Avatar/Herculanum-Regular.ttf);
}

html {
    font-size: 62.5%
}

body {
    background-color: #12a4d4;
    font-family: 'Herculanum';
    display: block;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    overflow: hidden;
}

.right {
    display: flex;
    align-items: center; 
    align-content: space-between;
    justify-content: flex-end; 
    font-size: 1.8rem;
}

li {
    list-style-type: none;
}

li a {
    display: block;
    padding: 14px 10px;
    text-decoration: none;
  }

.header {
    overflow: hidden;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.212));
    background-color: rgba(255, 228, 196, 0.856);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;
  }

#Appa {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.SATemple {
    display: flex;
    background-color: orange;
    border-radius: 25px;
    width: 75%;
    min-height: 500px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.0rem;
    padding: 0 20px 0 0;
    color: white;
    margin: 5em auto 0 auto;
    background-color: rgba(240, 240, 240, 0.247);
}

.crescent-island {
    display: flex;
    background-color: orange;
    border-radius: 25px;
    width: 75%;
    min-height: 500px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.0rem;
    padding: 0 20px 0 0;
    color: white;
    margin: 5em auto 0 auto;
    background-color: rgba(231, 132, 87, 0.342);;
}

.crescent-left {
    padding: 100px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crescent-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 10px;
    text-shadow: 1px 1px 5px #dce2e4, 2px 2px 3px black;
}

.crescent-image {
    width: 500px;
    height: 100%;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.205); 
    border-radius: 25px;
}

.description, .description2 {
    text-shadow: 2px 2px 3px black;
}

.title, .crescent-title {
    margin-bottom: 30px;
    text-shadow: 1px 1px 5px #e4dcdc, 2px 2px 3px black;
}

.temple-image {
    width: 500px;
    height: 100%;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.205); 
    border-radius: 25px;
}

.temple-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 10px;
    text-shadow: 1px 1px 5px #dce2e4, 2px 2px 3px black;
}

.image-text {
    margin-top: 10px;
}

.temple-left {
    padding: 100px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.layer2 {
    background-color: rgba(255, 228, 196, 0.856);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20.5rem;
}

.airbenders {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2rem;
    text-shadow: 2px 2px 3px black;
}

.airbenders-heading {
    text-shadow: 1px 1px 5px #dce2e4, 2px 2px 3px black;
    color: white;
    font-size: 3.0rem;
}

.monk-gyatso {
    align-self: center;
    text-align: center;
}

.l2heading {
    text-shadow: 1px 1px 10px #dce2e4;
    text-align: center;
    margin-top: 15px;
}

.gyatso,
.avatar-yangchen,
.pasang-img,
.jinju-img {
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.24);
}

.firebenders {
    display: flex;
    align-items: center;
    gap: 40px;
}

.layer2 {
    margin-top: 20.5rem;
}

.fire-container {
    margin-bottom: 20.5rem;
}

.layer4 {
    background-color: rgba(255, 228, 196, 0.856);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20.5rem;
}
